
<div class="portada">
    <div class="titulo">
        <span class="text_titulo">
            Cinema IronHack
        </span>
    </div>
        <a class="buton" href="/movies">Check the movies! </a>
</div>
